<h2>view individual airplane</h2>
<div>
    <h3><%= airplane.name  %></h3> 
</div>
<div>
    <span>Status: <%= airplane.status %> </span>
</div>
<div>
    <%  let totalTime = 0;
        let flights = 0;
        airplane.flightLogs.forEach(log => {
            flights++;
            totalTime += log.duration; %>
    <% }) %>
    <div><label>Unserviced Flights: <%= flights %></label></div> 
    <div><label>Total Unserviced Duration: <%= totalTime %></label></div>
</div>
<div>
    <ul>
    <% airplane.flightLogs.forEach(log => { %>
        <li>
            <a href="/flightlogs/view/<%= log._id %>" class="btn btn-info">LOG</a><a href="/flightlogs/delete/<%= airplane._id %>/<%= log._id %>" class="btn btn-danger">Delete</a>
        </li>
    <% }) %> 
    </ul>
</div>
<div>
    <a href="/flightlogs/new/<%= airplane._id %>" class="btn btn-info">New Flight Log</a>
</div>